/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #e0e0e0;
    line-height: 1.6;
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #1e1e1e;
}

h1, h2 {
    color: #88d8d8;
}

a {
    text-decoration: none;
    color: #66cccc;
}

/* Tagline Section */
.tagline {
    /* background-color: rgba(30, 30, 30, 0.9); Darkened background with slight opacity */
    padding: 20px;
    text-align: center;
    color: #e0e0e0;
    font-size: 1.1em;
}

/* Hero Section */
.hero {
    background: url('hero-image.jpg') center/cover no-repeat;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e0e0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #66cccc;
    color: #1e1e1e;
    border-radius: 5px;
}

/* Sections */
.section {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.9);
    color: #e0e0e0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section p, .section ul {
    max-width: 600px;
    margin: auto;
    color: #e0e0e0;
}

/* Therapist Cards */
.therapist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.therapist-card {
    background-color: rgba(60, 60, 60, 0.9);
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #e0e0e0;
}

.therapist-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}
